[submodule ".vim/bundle/jasmine"]
	path = .vim/bundle/jasmine
	url = https://github.com/claco/jasmine.vim
[submodule ".vim/bundle/vim-angular"]
	path = .vim/bundle/vim-angular
	url = https://github.com/burnettk/vim-angular
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/javascript-libraries-syntax"]
	path = .vim/bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "/home/oneyoung/.vim/bundle/jshint.vim"]
	path = /home/oneyoung/.vim/bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
